@inherits ArticleCategoriesBase
@page "/articlecategories"

<h2>Article Categories</h2>
<div class="mt-3">
    @if(!string.IsNullOrEmpty(error))
    {
    <div class="alert alert-danger">
        @error
    </div>
    }

    @if(currentCategory == null)
    {
    <ArticleCategoriesList 
        ArticleCategoryListItems="articleCategoryListItems"
        OnAddClick="AddCategory"
        OnEditClick="EditCategory"
        OnDeleteClick="DeleteCategory">
    </ArticleCategoriesList>
    }
    else 
    {
    <ArticleCategory 
        Category="currentCategory"
        OnSaveClick="SaveCategory" 
        OnCancelClick="ShowList">
    </ArticleCategory>
    }
</div>