@using Microsoft.AspNetCore.Components.Web
@using System.Timers

<h1>Countdown</h1>
<p>@count</p>
<button @onclick="startCountdown">Start</button>

@code {
    private int count = 0;
    private void startCountdown()
    {
        count = 10;
        Timer timer = new Timer(1000);
        timer.Elapsed += (source, e) =>
        {
            count--;
            InvokeAsync(() => StateHasChanged());
            if (count == 0) timer.Stop();
        };
        timer.Start();
    }
}